# Natural Language Processing
nltk==3.9.0

# Machine Learning
scikit-learn==1.6.1
Joblib==1.4.2
matplotlib==3.10.0
seaborn==0.13.2

# Database
SQLAlchemy==2.0.21

# Web Frameworks
Flask==3.1.0

# API Integration
Flask-RESTful==0.3.9

# Testing
pytest==7.4.0

# Logging and Debugging
# No additional installation needed for logging and pdb as they are part of the Python standard library
# Schaut bitte ob die Versionen soweit passen und aktuelle sind ^^
# Install requirements.txt : "pip install -r requirements.txt"
# Check if worked: "pip list"
